<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  internalLogLevel="Trace" 
	internalLogFile="${basedir}/logs/nlog-internal.log"
      throwConfigExceptions="true">
	<!-- internalLogLevel="Trace"
     controls how much detail NLog should write about its own internal working and errors -->

<!-- internalLogFile="${basedir}/logs/nlog-internal.log"
     tells NLog where it should save its own internal diagnostic logs -->

	<targets> <!-- This defines where the logs can go  -->

		<!-- This defines the console log output-->
		<target xsi:type="Console"  
				name="console"
				layout="${longdate} | ${level:uppercase=true} | ${message}" />


		<!-- This defines the logs that are written directly in the file app.log  -->
		<target xsi:type="File"
				name="file"
				fileName="${basedir}/logs/app.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | ${exception:format=tostring}" />

	</targets>

	<rules>

		<logger name="*"
				minlevel="Info"
				writeTo="console,file" />

	</rules>

</nlog>